/* .page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  border: 1px solid #ddd;
} */



/* .flipbook {
  perspective: 1000px;
} */

.page {
  /* width: 300px;
  height: 500px; */
  background: #f0f0f0;
  border: 1px solid #ddd;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
